@font-face {
    font-family: 'Fjalla';
    src:url('fonts/fjalla.woff') format('woff'),
        url('fonts/fjalla.woff2') format('woff2'),
        url('fonts/fjalla.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('fonts/Roboto-Regular.woff') format('woff'),
		url('fonts/Roboto-Regular.woff2') format('woff2'),
		url('fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('fonts/Roboto-Bold.woff') format('woff'),
		url('fonts/Roboto-Bold.woff2') format('woff2'),
		url('fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('fonts/Roboto-Light.woff') format('woff'),
		url('fonts/Roboto-Light.woff2') format('woff2'),
		url('fonts/Roboto-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@media (max-width: 500px) {
  

body{
  font-family: 'Roboto', sans-serif;
  margin: 12px;
}
.LHeadline{
    text-align: center;
    margin: 0;
    font-family: Fjalla,Helvetica,Arial,sans-serif;
    color: #1c252a;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 24px;
  
}

.liContainer{
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  
}

.answerImage{
  width: auto;
  height: 120px;
}

img{
  height:100%;
  margin: 0 auto;
  display: block;
}
.resultDescription{
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #b4bac1;
  Height: 30px;
  width: 150px;
  background: #ffffff;
  font-family: Roboto-Bold;
  margin-bottom: 12px;
}

.resultDescription:hover{
  background: #DBDEE0
}

.resultDescription:focus{
  text-decoration: underline;
  background: #ffffff;
  outline:0;
}

ul{
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
}
.resultImage{
  list-style: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.resultImage:hover{
  opacity: 0.6;
  cursor: pointer;
}
button{
  clear: both;
}
.progressBarContainer{
  background: #f4f7f9;;
  width: 100%;
  padding-bottom: 8px;
}

.progressBar{
  display: table;
  clear: both;
  margin: auto;
  /* margin-bottom: 8px; */
  background-color: white;
  border-radius: 100px;
  border: 1px solid #e6ecf0; 
}
.progressTick{
  height: 5px;
  width: 35px;
  background-color: #e6ecf0;
  float: left;
  border-radius: 100px;
  margin: 5px;
}

.active{
  background-color: #007e3c;
}
.resultForm{
  display: none;
}

.resultForm p{
  text-align: left;
}

.viewResultsButton{
  display: block;
  width: 300px;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 4px;
  margin-top: 16px;
  height: 40px;
  background-color: #246bb1;
  color: #fff;
  border: none;
  letter-spacing: .04em;
}

.quiz{
  border: 1px solid #e6ecf0;;
}

.progressInNumber{
  text-align: center;
  padding-top: 12px;
  padding-bottom: 8px;
}

.resultDescriptionContainer{
  width: 150px;
  margin: 0 auto;
  position: relative;
  top: -20px;
}

.progressInNumberValue{
  font-family: Roboto-Regular;
  font-size: 14px;
}
.detailDescription{
  font-family: Roboto-Regular;
  font-size: 12px;
  color: #59626a;
  text-align: center;
}

.outerspace {
  overflow:hidden;
}

.content {
  text-align: center;
  width:135px;
  margin:0 auto;

}
}